<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mappers.BrandMapper">

    <resultMap id="brandMap" type="com.example.demo.bean.Brand">
        <result property="brandName" column="brand_name"/>
        <result property="companyName" column="company_name"/>
    </resultMap>

    <select id="selectAll" resultMap="brandMap">
        select * from tb_brand
    </select>


    <!--    参数占位符：
            1.#{}:会将其替换为？，可以防止sql注入
            2.${}:拼sql，会从在sql入住问题
            3.使用时机：
                1.参数传递的时候#{}
                2.表面或者列名不固定的时候${}
            4. CDATA用于特殊字符
                <![CDATA[
                <
                ]]>
     -->
    <select id="selectById" resultType="com.example.demo.bean.Brand">

        select * from tb_brand where id = #{id}
    </select>
    <select id="selectByCondition" resultType="com.example.demo.bean.Brand">
        select *
        from tb_brand
        where status = #{status}
        and company_name like #{companyName}
        and brand_name like #{brandName}
    </select>
</mapper>